.text-present {
  color: #e4007c;
  font-weight: bold;
  font-size: 16px;
  width: 20rem;
  letter-spacing: 3px;
}

.name {
  color: #f3f7f0;
  font-size: 70px;
  margin: 2px 0;
}

.subtitle {
  color: #a7abb4;
  font-size: 65px;
  margin: 2px 0;
}

.description {
  width: 70%;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  line-height: 1.7;
}
.cv-download {
  width: 14rem;
  background: transparent;
  color: white;
  letter-spacing: 1.2px;
  text-transform: capitalize;
  border-color: white;
  padding: 0;
  height: 4rem;
}

span {
  display: inline-block;
}
.red-dow {
  color: white;
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 10px;
}

@media screen and (max-width: 1228px) {
  .name {
    font-size: 60px;
  }

  .subtitle {
    font-size: 55px;
  }
}

@media screen and (max-width: 1048px) {
  .name {
    font-size: 55px;
  }

  .subtitle {
    font-size: 50px;
  }
}
@media screen and (max-width: 897px) {
  .name {
    font-size: 50px;
  }

  .subtitle {
    font-size: 45px;
  }
}
@media screen and (max-width: 708px) {
  .name {
    font-size: 45px;
  }

  .subtitle {
    font-size: 40px;
  }
  .description {
    width: 100%;
  }
}
@media screen and (max-width: 592px) {
  .name {
    font-size: 40px;
  }

  .subtitle {
    font-size: 35px;
  }
}
@media screen and (max-width: 518px) {
  .name {
    font-size: 38px;
  }

  .subtitle {
    font-size: 32px;
  }
}
@media screen and (max-width: 474px) {
  .name {
    font-size: 31px;
  }

  .subtitle {
    font-size: 27px;
  }
}

@media screen and (max-width: 393px) {
  .subtitle {
    font-size: 42px;
  }
}

@media screen and (max-width: 380px) {
  .name {
    font-size: 45px;
  }

  .subtitle {
    font-size: 40px;
  }
}

@media screen and (max-width: 342px) {
  .name {
    font-size: 40px;
  }

  .subtitle {
    font-size: 36px;
  }
}
