@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
*,
::after,
::before {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  overflow-y: scroll;
  scrollbar-color: #e4007c #011627;
  scrollbar-width: thin;
  /* scroll-behavior: smooth; */
} /*10px*/

a {
  text-decoration: none;
}

li {
  list-style: none;
}
body {
  background: #011627;
  font-size: 1.5rem;
  color: white;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  display: grid;
  place-content: center;
  width: 70%;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

@media screen and (max-width: 1048px) {
  section {
    width: 75%;
  }
}
@media screen and (max-width: 897px) {
  section {
    width: 85%;
    min-height: 90vh;
  }
}
@media screen and (max-width: 708px) {
  section {
    width: 90%;
  }
}

@media screen and (max-width: 355px) {
  section {
    width: 95%;
  }
}

h1,
p {
  margin: 0;
}
.line {
  width: 40rem;
  background-color: #e4007c;
  height: 5px;
  margin: 0 auto;
  margin-bottom: 20px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: #011627;
}
body::-webkit-scrollbar-thumb {
  background-color: #e4007c;
}

.margin-top {
  padding-top: 6rem;
}
button {
  cursor: pointer;
}
